@import "{francocatena:compass}/compass";

// font family
$soleil: "soleil",sans-serif;
$type: "source-code-pro",sans-serif;

$brand: #2AFFE6;
$aqua: #29EBD5;
$purple: #A2AAFF;
$blue: #A2E0FF;

$lt-gray: #AEAEAE;
$md-gray: #767676;

$ink: #756F7C;

html {
  font-size: 62.5%;
}
body{
  font-family:$soleil;
  font-size: 14px; font-size: 1.4rem;
  color:$md-gray;
}

h2{
  font-weight:normal;
}

img {
  width:100%;
}
a {
  color:$md-gray;
  text-decoration:none;
  transition:0.25s linear;
}
a:hover{
  color:$aqua;
}

.app-container{
  max-width:1200px;
  margin:2rem 1rem;
  @media(min-width:768px){
    margin:4rem 2rem 2rem;
  }
  @media(min-width:992px){
    margin:5rem;
  }
}

.logo{
  max-width:200px;
  margin-bottom:4rem;
}

/* welcome page */
.welcome-body{
  font-family: $type;
  color: $ink;
  font-size: 1.5rem;
  height:50%;
  height:50vh;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}

/* accounts overrides */
#login-buttons{
  float:right;
  font-family:$soleil !important;
}
#login-buttons a, .accounts-dialog a {
  text-decoration: none !important;
}
a#login-name-link {
  color:$lt-gray !important;
  &:hover{
    color:$md-gray !important;
  }
}
.accounts-dialog{
  border-radius:0px !important;
  border:none !important;
}
#login-dropdown-list {
  position: absolute;
  left:auto !important;
  right: -1px;
  padding:1rem 2rem !important;
}
#login-buttons .login-button, .accounts-dialog .login-button{
  background: $purple !important;
  border: 0 !important;
  font-family: $soleil !important;
  padding: 10px 8px !important;
  border-radius:0 !important;
  font-weight:700;
  font-size:1.5rem;
  margin:2rem 0 !important;
  transition:0.25s;
  &:hover{
    background:darken($purple,10%) !important;
  }
}
a.login-close-text {
  color: #fff !important;
  font-size:0.1rem;
  float:right !important;
}
a.login-close-text:after{
  content:'×';
  font-size:3.4rem;
  color:transparentize($lt-gray, 0.5);
  transition:0.25s;
}
a.login-close-text:hover:after{
  color:transparentize($lt-gray, 0.0);
}
#login-buttons input[type=text], .accounts-dialog input[type=text], #login-buttons input[type=email], .accounts-dialog input[type=email], #login-buttons input[type=password], .accounts-dialog input[type=password]{
  border: solid transparentize($lt-gray,0.5) !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0 !important;
}
#login-buttons input:focus{
  outline:none;
  border: solid $lt-gray !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0 !important;
}
.accounts-dialog label, .accounts-dialog .title{
  font-family:$soleil !important;
  color:$lt-gray;
}
a#login-sign-in-link {
  color: transparentize($lt-gray, 0.25);
}
a#login-sign-in-link:hover {
  color: transparentize($md-gray, 0.25);
}
a#back-to-login-link,
a#signup-link
 {
  font-family: $soleil;
  font-weight:700;
  color:$aqua;
  font-size:1.5rem ;
}
a#back-to-login-link:before,
a#signup-link:before {
  content: 'OR ';
  color: $md-gray;
  font-size:0.9rem;
  margin-right:2px;
}
input#login-username,
input#login-password,
input#login-password-again,
input#login-old-password {
  font-family: $soleil;
  font-weight:700;
  color:$md-gray;
}

/* welcome page sign in/sign up */
.welcome-body div#login-buttons {
    margin-top: 4rem !important;
}
.welcome-body #login-dropdown-list {
  left: calc(50% - 132px) !important;
  padding: 1rem 2rem !important;
  top: -140px !important;
}
.welcome-body a#login-sign-in-link {
  background: $aqua;
  padding: 2rem 4rem;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}


/* navigation */
.navigation{
  list-style:none;
  margin:4rem 0;
  padding:0;
  font-size:1.5rem;
  @media(min-width:768px){
    margin:6rem 0;
  }
  li{
    display:inline;
    margin-right:3rem;
    padding-bottom:0.5rem;
    transition:0.25s;
  }
}
.navigation a:hover{
  color:$md-gray;
}
.navigation li:hover,
.navigation li:active,
.navigation li:focus,{
  border-bottom:3px solid transparentize($aqua, 0.5);
}
.navigation li.active{
  border-bottom:3px solid $lt-gray;
}

/* letters list */
.letters-list{
  ul {
    list-style:none;
    padding:2rem 0;
  }
  li {
    border-bottom:1px solid transparentize($lt-gray,0.75);
    display:flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 2rem 0;
    margin: 4rem 0;
    @media(min-width:768px){
      align-items:center;
      flex-direction:row;
      margin:0;
      padding: 2rem 0 1.5rem;
    }
  }
}
.letters-list li.unread{
  border-left: transparentize($blue, 0.0) 3px solid;
  padding: 2rem 0 1.5rem 1.0rem;
}
.letter-from,
.letter-to{
  font-weight:700;
  display:inline;
  @media(min-width:768px){
    -webkit-flex: 1 0 0;
     flex: 1 0 0;
  }
}
.letter-from{
  color:$purple;
}
.letter-to{
  color:$aqua;
}
.address-context{
  text-transform:uppercase;
  font-size:0.8rem;
  display:block;
  margin-bottom:-1.0rem;
  margin-top: -0.8rem;
}
span.contact{
  font-size:2.0rem;
  &:hover{
    cursor:pointer;
  }
}
.letter-body{
  font-family:$type;
  color:$ink;
  display:inline;
  font-size:1.5rem;
  max-height: 2rem;
  overflow: hidden;
  width:calc(100% - 20px);
  @media(min-width:768px){
    -webkit-flex: 4 0 0;
     flex: 4 0 0;
  }
  &:hover{
    cursor:pointer;
  }
}
.new-letter .letter-body{
  margin:5rem 0;
  max-height:none;
  display:inline-block;
  &:focus{
    outline:none;
  }
}
.remove-letter{
  order:-1;
  margin:-3rem 0;
  text-align:right;
  @media(min-width:768px){
    order:1;
    margin:0;;
  }
}
.remove-btn{
  font-size:1.75rem;
  color:transparentize($lt-gray, 0.5);
  transition:0.25s;
  &:hover{
    color:transparentize($lt-gray, 0.0);
    cursor:pointer;
  }
}

/* modal */
// http://blog.tryolabs.com/2015/04/13/a-reusable-modal-component-in-react/
.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.2s;
}
.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}
.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}
.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}

/* -Create- letter modal snailchat */
.modal{
  position:fixed;
  top:5%;
  left:5%;
  max-width:1200px;
  width: 90%; //fallback
  width: 90vw;
  padding:6rem 3rem;
  box-sizing: border-box;
  background:rgba(#fff, 0.95);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 6rem;
  z-index:999;
  @media(min-width:768px){
    padding:8rem 6rem;
  }
  @media(min-width:992px){
    padding:12rem 9rem;
  }
}
.modal-close{
  float:right;
  margin-top:-6rem;
  font-size:5rem;
  transition:0.25s;
  color:transparentize($lt-gray, 0.5);
  @media(min-width:768px){
    margin-top:-7.5rem;
  }
  @media(min-width:992px){
    margin-top:-9rem;
  }
}
.modal-close:hover{
  cursor:pointer;
  color:transparentize($lt-gray, 0.0);
}
.new-letter label{
  margin:1rem 0 0 0;
  color:$aqua;
  font-weight:700;
}
.new-letter input{
  border:transparentize($lt-gray, 0.5) solid;
  border-width: 0 0 1px 0;
  background:transparent;
  width:100%;
  max-width:250px;
  font-family:$soleil;
  font-weight:700;
  font-size:2.2rem;
  color:$aqua;
  &:focus{
    outline:0;
  }
}
.new-letter textarea{
  border: 0;
  width:100%;
  margin: 4rem 0;
  color:$md-gray;
  height:50%;
  height:50vh;
  font-family: $type;
  font-size:1.5rem;
  line-height:2.0;
  resize:none;
  &:focus{
    outline:0;
  }
}
.new-letter input[type="submit"] {
  background: $brand;
  color: $md-gray;
  border-bottom: 0;
  padding: 2rem;
  width: 190px;
  margin: 6rem auto 0rem !important;
  display:block;
  transition:0.25s;
  &:hover{
    background:darken($brand,10%);
    color:#fff;
    cursor:pointer;
  }
  &:focus{
    background:darken($brand,20%);
  }
}
/* typeahead */
ul.typeahead-selector {
  font-weight: 700;
  color:$lt-gray;
  position: absolute;
  background: #fff;
  width: 250px;
  border-radius: 3px;
  a{
    color:$lt-gray;
  }
}

/* -Read- letter modal */
.letter-modal li{
  border-bottom:none;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
}
.letter-modal .letter-from,
.letter-modal .letter-to{
  -webkit-flex: none;
  flex: none;
}
.letter-modal .address-context{
  font-size:1.0rem;
}
.letter-modal .contact:hover,
.letter-modal .letter-body:hover{
  cursor:auto;
}
.letter-modal .letter-body {
  -webkit-flex: none;
  flex: none;
  margin:5rem 0;
  max-height: none;
  overflow: auto;
  white-space:pre-wrap;
}
.letter-modal .remove-letter{
  display:none;
}
.letter-modal .contact{
  font-size:2.2rem;
}

/* find users page */
.find-users-page label{
  margin:1rem 0 0 0;
  color:$lt-gray;
  font-weight:700;
}
.find-users input{
  border:transparentize($lt-gray, 0.5) solid;
  border-width: 0 0 1px 0;
  background:transparent;
  width:100%;
  max-width:250px;
  font-family:$soleil;
  font-weight:700;
  font-size:3rem;
  margin:0;
  color:$md-gray;
  &:focus{
    outline:0;
  }
}
ul.find-users-results{
  position:absolute;
  background: #fff;
  width: 250px;
  height: auto;
  border-radius: 3px;
  color:$lt-gray;
  font-size:2.2rem;
  list-style:none;
  padding-left:0;
}
.find-users-results span{
  font-weight:700;
  color:$aqua;
}
h2.saved-users-title{
  margin:12rem 0 0;
  font-size:2rem;
  font-weight:700;
  color:$lt-gray;
}
.saved-users{
  font-weight:700;
  color:$purple;
  font-size:2.0rem;
  padding-left:0;
  margin-top:0.5rem;
  li{
    list-style:none;
    padding:0.5rem 0;
  }
}
.remove-user,
.save-user{
  font-size:2rem;
  margin-left:1rem;
  transition:0.25s;
  color:$lt-gray !important;
}
.save-user:hover{
  cursor:pointer;
  color:$md-gray !important;
}
.save-user:hover:after{
  content:'save contact';
  font-size:1.2rem;
  margin-left:0.25rem;
}
.remove-user:hover{
  cursor:pointer;
  color:$md-gray !important;
}
.remove-user:hover:after{
  content:'delete contact';
  font-size:1.2rem;
  margin-left:0.25rem;
}
