@import "{francocatena:compass}/compass";

// font family
$soleil: "soleil",sans-serif;
$type: "source-code-pro",sans-serif;

$aqua: #29EBD5; //logo: #2AFFE6;
$purple: #A2AAFF;

$lt-gray: #AEAEAE;
$md-gray: #767676;

$ink: #756F7C;

html {
  font-size: 62.5%;
}
body{
  font-family:$soleil;
  font-size: 14px; font-size: 1.4rem;
  color:$md-gray;
}
img {
  width:100%;
}
a {
  color:$md-gray;
  text-decoration:none;
  transition:0.25s linear;
}
a:hover{
  color:$aqua;
}

.app-container{
  max-width:1200px;
  margin:1rem;
  @media(min-width:768px){
    margin:4rem 2rem 2rem;
  }
  @media(min-width:992px){
    margin:5rem;
  }
}

.logo{
  max-width:200px;
  margin-bottom:4rem;
}

/* accounts overrides */
#login-buttons{
  float:right;
}
#login-buttons a, .accounts-dialog a {
  text-decoration: none !important;
}

/* navigation */
.navigation{
  margin-top:2rem;
}

/* letters list */
.letters-list{
  ul {
    list-style:none;
    padding:0;
    margin-top:3rem;
  }
  li {
    margin:1rem 0;
    padding:1rem 0;
    border-bottom:1px solid transparentize($lt-gray,0.75);
    display:flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    @media(min-width:768px){
      align-items:center;
      flex-direction:row;
      margin:0;
      padding:0;
    }
  }
}
.letter-from,
.letter-to{
  font-weight:700;
  display:inline;
  @media(min-width:768px){
    -webkit-flex: 1 0 0;
     flex: 1 0 0;
  }
}
.letter-from{
  color:$purple;
}
.letter-to{
  color:$aqua;
}
.address-context{
  text-transform:uppercase;
  font-size:0.8rem;
  display:block;
  margin-bottom:-1.25rem;
}
.contact{
  font-size:1.8rem;
}
.letter-body{
  font-family:$type;
  color:$ink;
  display:inline;
  @media(min-width:768px){
    -webkit-flex: 4 0 0;
     flex: 4 0 0;
  }
}
.remove-letter{
  order:-1;
  margin:-3rem 0;
  text-align:right;
  @media(min-width:768px){
    order:1;
    margin:0;;
  }
}
.remove-btn{
  font-size:3.4rem;
  vertical-align:-6px;
  color:transparentize($lt-gray, 0.5);
  transition:0.25s;
  vertical-align: 14px;;
  &:hover{
    color:transparentize($lt-gray, 0.0);
    cursor:pointer;
  }
}
// http://blog.tryolabs.com/2015/04/13/a-reusable-modal-component-in-react/
.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.2s;
}
.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}
.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}
.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}
